<turbo-frame id="content">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="d-flex justify-content-center">
        <div class="card"  style="width: 70vw;" >
<div class="d-flex">
<img src="{{ asset('pictures/interface/software-developer.jpg')}}" class="card-img-top" alt="..." style="width: 40vw;">
    <div class="card-body style="width: 40vw;"">
        <h5 class="card-title">Register</h5>
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm,{'action': path('app_register'), 'method': 'POST'}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    </div>
</div>
</div>
</turbo-frame> 
